{% extends 'base.html.twig' %}

{% block title %}Liste articles{% endblock %}

{% block body %}
    <h1>Liste articles</h1>

    <a href="{{ path('app_produits_new') }}">Ajouter un produit</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom produit</th>
                <th>Description produit</th>
                <th>Img produit</th>
                <th>Prix produit</th>
                <th>Quantité en stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nomProduit }}</td>
                <td>{{ produit.descriptionProduit }}</td>
                <td>{{ produit.imgProduit }}</td>
                <td>{{ produit.prixProduit }} €</td>
                <td>{{ produit.quantStock }}</td>
                <td>
                    <a href="{{ path('app_produits_show', {'id': produit.id}) }}">Fiche produit</a>
                    {# Voir si besoin d'afficher le lien sur la liste ou si suffisant dans la fiche produit --> but : eviter les fausse manip #}
                    {# <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">Modifier</a> #} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_admin') }}">Retour</a>
{% endblock %}
