{% extends 'base.html.twig' %}

{% block title %}Edit Clients{% endblock %}

{% block body %}
    <h1>Modifier clients</h1>

    {{form_start(userForm)}}
        <table>
            <tbody>

                <tr>
                    <th> Nom d'utilisateur : </th>
                    <td>{{client.username}}</td>
                    <td>{{ form_row(userForm.username,{label:'Modifier'})}}</td> {# {label: 'Mot de passe'} #}
                </tr>

                <tr>
                    <th>Email : </th>
                    <td>{{client.email}}</td>
                    {# VOIR COMMENT MODIFIER L EMAIL EN BDD MALGRE LE UNIQKEY // style="display:none;"#}
                    <td >{{ form_row(userForm.email, {label:'Modifier'}) }}</td> 
                </tr>

                <tr>
                    <th>Mot de passe :</th>
                    <td>{{client.password}}</td>
                    <td>{{ form_row(userForm.plainPassword, {label:'Modifier'}) }}</td>
                </tr>
                
            {{ form_start(clientForm) }}

                <tr>
                    <th>Nom </th>
                    <td>{{client.nomClient}}</td>
                    <td>{{ form_row(clientForm.nomClient, {label:'Modifier'}) }}</td>
                </tr>

                <tr>
                    <th>Prenom</th>
                    <td>{{client.prenomClient}}</td>
                    <td>{{ form_row(clientForm.prenomClient, {label:'Modifier'}) }}</td>
                </tr>

                <tr>
                    <th>Telephone</th>
                    <td>{{client.telephone}}</td>
                    <td>{{ form_row(clientForm.telephone, {label:'Modifier'}) }}</td>
                </tr>

            </tbody>
        </table>
     
        {{ form_widget(userForm._token) }}
        <button class="btn">{{ button_label|default('Update') }}</button>
    

    {{ form_end(clientForm) }}
    {{ form_end(userForm) }}     

    <a href="{{ path('app_profil_utilisateurs_index') }}">Retour</a>

    {# {{ include('profil_utilisateurs/_delete_form.html.twig') }} #}
    {# <a href="{{ path('app_profil_utilisateurs_delete', {'idClient': client.id}) }}">supp</a> #}
{% endblock %}
