{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <a href="{{ path('app_profil_utilisateurs_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Nom client</th>
                <th>Prenom client</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.user_role ? client.user_role|json_encode : '' }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.username }}</td>
                <td>{{ client.user_password }}</td>
                <td>{{ client.nom_client }}</td>
                <td>{{ client.prenom_client }}</td>
                <td>{{ client.telephone }}</td>
                <td>
                    <a href="{{ path('app_profil_utilisateurs_show', {'idClient': client.id}) }}">Voir</a>
                    {# <a href="{{ path('app_profil_utilisateurs_edit', {'idClient': client.id}) }}">Modifier</a>
                    <a href="{{ path('app_profil_utilisateurs_delete', {'idClient': client.id}) }}">supp</a> #}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">/!\  Aucun clients trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin') }}">Retour</a>


{% endblock %}
