{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}
    <h1>Ajouter un nouveaux client</h1>
    
    {{form_start(userForm)}}  {# début du formulaire pour la bdd User #}

	{{ form_row(userForm.username, {
        label: 'username'
    }) }}

	{{ form_row(userForm.email, {
        label: 'email'
    }) }}

	{{ form_row(userForm.plainPassword, {
            label: 'plainPassword'
        }) }}


    {{ form_start(clientForm) }} {# début form pour ajouter les donées à client #}
    {{ form_widget(clientForm) }} {# widget qui génère automatiquement les information du form #}
    
    {{ form_widget(userForm._token) }} {# widget intégrér qui gère les token pour la sécurité #}
    
    <button class="btn">{{ button_label|default('Crée client') }}</button>

    {{ form_end(clientForm) }} {# fin du form client #}
    
    {{ form_end(userForm) }}  {# fin du form user  #}

    <a href="{{ path('app_profil_utilisateurs_index') }}">Retour</a>
{% endblock %}
