{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    {# Ma fontion dans "findClientWithId" du repository me renvoie un tableau
     donc pour y accéder je dois utiliser {{ client[0].id }} 
     ici [0] correspondras tjr à l'utilisateur selectionner car 
     ma requete ne renvoie qu' une ligne #}

    <table class="table">  
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ client[0].id }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ client.roles ? client.roles|json_encode : '' }}</td>
            </tr> #}
            <tr>
                <th>Email</th>
                <td>{{ client[0].email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ client[0].username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                {# <td>{{ client[0].user_password }}</td> #}
                <td>*******</td> {# voir comment mettre l'affichage auto des ** #}
            </tr>
            <tr>
                <th>NomClient</th>
                <td>{{ client[0].nom_client }}</td>
            </tr>
            <tr>
                <th>PrenomClient</th>
                <td>{{ client[0].prenom_client }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client[0].telephone }}</td>
            </tr>
        </tbody>
    </table>

   

    <a href="{{ path('app_adresses_index') }}">Mes adresses (test)</a>

    <a href="{{ path('app_profil_utilisateurs_index') }}">Retour</a>

    <a href="{{ path('app_profil_utilisateurs_edit', {'idClient': client[0].id}) }}">Modifier</a>

    {{ include('profil_utilisateurs/_delete_form.html.twig') }}
{% endblock %}
