{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/composants/header.css')}}">
{% endblock %}


<header>
    <!-- Barre de navigation -->
    <nav>

        <div class="header"> {# <div class="parent"> #}
            <div class="div1">        
                {# <img src="{{ asset('images/logo/logo.jpg') }}" alt="#" >
                <img src="{{ asset('images/logo/Hanabi_harukaze_font.png') }}" alt="#"> #}
                <img src="{{ asset('images/logo/grp_marque.png') }}" alt="#">   
            </div>
            <div class="div2">
                <div class="navBar">
                    <a href="{{ path('app_accueil')}}">Accueil</a>
                    <a href="{{ path('app_shop')}}">Boutique</a>
                    <a href="{{ path('app_contact')}}">Contact</a>{# bloquer l accès si utilisateur non connecté #}
                </div>
            </div>

            <!-- Partie input de recherche -->
            <form class="div3">
                <div class="searchBar">
                    <img src="{{ asset('images/icones/search.png') }}" alt="" width="20px" height="20px"> 
                    <input type="text" placeholder="produit, licence... ">
                </div>
            </form>

            <!-- Ajouter ici les éléments apres la création des utilisateurs -->

            {# Si utilisateur non connecter #}

            <div class="div4">
                {# <a href="{{ path('app_login') }}">Se Connecter</a> #}
                {# <a href="{{ path('app_register') }}">s'inscrire</a>  #}

            {% if app.user %}
                <div class="user-info">
                    <p>{{ app.user.username }}</p>
                    <img src={{ app.user.image }}  alt="Avatar" class="avatar" />

                    <form method="post" action="{{ path('app_logout') }}">
                        <button type="submit" class="logout">Déconnexion</button>
                    </form>
                </div>

            {% else %}
                {# <form method="post" action="{{ path('app_login') }}">
                    <button type="submit" class="login">Se connecter</button>
                </form> #}
               
                <a href="{{ path('app_login') }}">Se Connecter</a>

                <a href="{{ path('app_register') }}">s'inscrire</a> 

            {% endif %}
            </div>


            {# Si utilisateur connecter  #}
            {# <div class="div4">
                <div class="menu_connect">
                    <p>icone</p>
                    <p>icone</p>
                    <p>icone</p> 
                </div>
            </div> #}
        </div>

    </nav>
    
    <!-- trait de séparation -->
    <div class="trait_x"></div> 
</header>
