{% extends 'base.html.twig' %}

{# a modifier #}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/formIndex.css')}}"> {% endblock %}

{% block title %}Liste des formulaires reçu{% endblock %}

{% block body %}
    <h1>FormulaireDemandeProduit index</h1>

<a href="{{ path('app_formulaire_demande_produit_new') }}">Ajouter un nouveau formulaire</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id produit</th>
                <th>Type de produit</th>
                <th>Description produit</th>
                <th>Date d'envoie du formulaire</th>                
                <th>Date reponse vendeur </th>
                <th>Etat : Accepter/ Refuser</th>
                <th>Actions</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for formulaire_demande_produit in formulaire_demande_produits %}
            <tr>
                <td>{{ formulaire_demande_produit.id }}</td>
                <td>{{ formulaire_demande_produit.TypeProduit }}</td>
                <td>{{ formulaire_demande_produit.descriptionProduit }}</td>
                <td>{{ formulaire_demande_produit.dateEnvoieForm ? formulaire_demande_produit.dateEnvoieForm|date('d M Y à H:i') : '' }}</td> {# Voir pour modifier le fuseau horraire en utc+2 --> pas trouvé la syntaxe pour le moment #}

                {# Renvoie à la page pour accepeter la demande si celle ci est "en attente" #}
                {% if  formulaire_demande_produit.reponseDemande is same as('attente')  %}
                    <td><p>Demande en attente </p></td>                    
                    <td><a href="{{ path('app_formulaire_demande_produit_traiter', {'id': formulaire_demande_produit.id}) }}">Accepter</a></td>                    
                {% else %}
                    <td>{{ formulaire_demande_produit.dateReponseForm ? formulaire_demande_produit.dateReponseForm|date('d M Y à H:i') : ''}} </td>
                    <td>{{ formulaire_demande_produit.reponseDemande }}</td>
                {% endif %}
              
                <td>
                    <a href="{{ path('app_formulaire_demande_produit_show', {'id': formulaire_demande_produit.id}) }}">Afficher</a>
                    <a href="{{ path('app_formulaire_demande_produit_edit', {'id': formulaire_demande_produit.id}) }}">Modifier</a>
                </td>

                <td>{{ include('formulaire_demande_produit/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun formulaire à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin') }}">Retour</a>
    
{% endblock %}
